/*.cssB{
margin-top: 20%;
}
.buttonDelete{
    width: 70%;
    color: aliceblue;
    font-family:'Noto Serif Thai', serif;
}
.titleBook{
    font-size: 20px;
    line-height: 20%;
}
.pic{
    display: block;
    width: 15%;
}
img{
    width: 100%;
}
.icon{
    width: 30%;
}*/