.cssUploadFile{
display: block;
width: 100%;
font-size: 0.875rem;
color: #1a202c;
border-color: #e2e8f0;
border-radius: 0.5rem;
cursor: pointer;
background-color: #f7f7f7;
font-family:'Noto Serif Thai', serif;
font-weight: 600;
transform: scale(0.9);
}
.cssUploadFile:hover {
    background-color: #fcfcfc;
    transform: scale(1.0);
  }

.cssInputFile{
    display: grid;
}

input::file-selector-button {
    background-image: linear-gradient(
      to right,
      #68737a,
      #8dc0da,
      #061922 100%,
      #20385B 200%
    );
    background-position-x: 0%;
    background-size: 300%;
    border: 0;
    border-radius: 8px;
    color: #fff;
    padding: 0.5rem 1rem;
    text-shadow: 0 1px 1px #333;
    transition: all 0.25s;
    transform: scale(0.8);
    font-family:'Noto Serif Thai', serif;
  }
  input::file-selector-button:hover {
    background-position-x: 100%;
    transform: scale(1.0);
    border-radius: 8px;
    cursor: pointer;
    font-family:'Noto Serif Thai', serif;
  }


/*<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
<input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg 
cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 
dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help"
 id="file_input" type="file">
<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" 
id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>*/


